<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <svg width="24" height="24" id="eye" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="#a79da8"
              stroke-width="2" fill="none"/>
        <circle cx="12" cy="12" r="4" stroke="#a79da8" stroke-width="2" fill="none"/>
    </svg>

    <svg width="24" height="24" id="edit" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25z" stroke="#9ea8b0" stroke-width="2" fill="none"/>
        <path d="M20.71 7.04a1 1 0 000-1.41l-2.34-2.34a1 1 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" stroke="#9ea8b0"
              stroke-width="2" fill="none"/>
    </svg>

    <svg width="24" height="24" id="trash" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 6h18" stroke="#a79da8" stroke-width="2" stroke-linecap="round"/>
        <path d="M8 6V4a1 1 0 011-1h6a1 1 0 011 1v2" stroke="#a79da8" stroke-width="2"/>
        <path d="M6 6l1 14a1 1 0 001 1h8a1 1 0 001-1l1-14" stroke="#a79da8" stroke-width="2"/>
        <path d="M10 11v5" stroke="#a79da8" stroke-width="2" stroke-linecap="round"/>
        <path d="M14 11v5" stroke="#a79da8" stroke-width="2" stroke-linecap="round"/>
    </svg>

    <svg fill="#5c5c5c" height="24" width="24" version="1.1" id="printer" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 366.98 366.98" xml:space="preserve" stroke="#5c5c5c">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
           stroke-width="0.7339600000000001"></g>
        <g id="SVGRepo_iconCarrier">
            <g>
                <path
                    d="M302.585,130.041V31.365c0-2.761-2.239-5-5-5H69.397c-2.761,0-5,2.239-5,5V52.22c0,2.761,2.239,5,5,5s5-2.239,5-5V36.365 h218.188v93.249h-57.827c-2.761,0-5,2.239-5,5s2.239,5,5,5h60.028c34.293,0,62.193,27.899,62.193,62.193v23.395 c0,2.761,2.239,5,5,5s5-2.239,5-5v-23.395C366.98,164.635,338.738,133.943,302.585,130.041z"></path>
                <path
                    d="M361.98,244.739c-2.761,0-5,2.239-5,5v41.803h-54.395v-12.267H316.6c2.761,0,5-2.239,5-5V233.79c0-2.761-2.239-5-5-5H50.38 c-2.761,0-5,2.239-5,5v40.485c0,2.761,2.239,5,5,5h14.017v12.267H10v-89.735c0-34.293,27.899-62.193,62.193-62.193h136.802 c2.761,0,5-2.239,5-5s-2.239-5-5-5H74.397V93.932c0-2.761-2.239-5-5-5s-5,2.239-5,5v36.109C28.244,133.942,0,164.634,0,201.806 v94.735c0,2.761,2.239,5,5,5h59.397v34.074c0,2.761,2.239,5,5,5h228.188c2.761,0,5-2.239,5-5v-34.074h59.395c2.761,0,5-2.239,5-5 v-46.803C366.98,246.977,364.741,244.739,361.98,244.739z M311.6,269.275h-9.014V238.79h9.014V269.275z M55.38,269.275V238.79 h9.017v30.485H55.38z M74.397,330.615V238.79h218.188v91.826H74.397z"></path>
                <path
                    d="M69.397,81.389c2.761,0,5-2.239,5-5v-6.135c0-2.761-2.239-5-5-5s-5,2.239-5,5v6.135 C64.397,79.15,66.636,81.389,69.397,81.389z"></path>
                <path
                    d="M266.915,297.491H153.788c-2.761,0-5,2.239-5,5s2.239,5,5,5h113.127c2.761,0,5-2.239,5-5S269.676,297.491,266.915,297.491z "></path>
                <path
                    d="M135.386,297.491h-11.042c-2.761,0-5,2.239-5,5s2.239,5,5,5h11.042c2.761,0,5-2.239,5-5S138.147,297.491,135.386,297.491z"></path>
                <path
                    d="M103.489,297.491h-3.421c-2.761,0-5,2.239-5,5s2.239,5,5,5h3.421c2.761,0,5-2.239,5-5S106.25,297.491,103.489,297.491z"></path>
                <path
                    d="M266.915,263.14H222.49c-2.761,0-5,2.239-5,5s2.239,5,5,5h44.425c2.761,0,5-2.239,5-5S269.676,263.14,266.915,263.14z"></path>
                <path
                    d="M100.067,273.14h97.887c2.761,0,5-2.239,5-5s-2.239-5-5-5h-97.887c-2.761,0-5,2.239-5,5S97.306,273.14,100.067,273.14z"></path>
                <path
                    d="M48.189,182.877c0,10.537,8.572,19.108,19.108,19.108s19.108-8.572,19.108-19.108s-8.572-19.108-19.108-19.108 S48.189,172.34,48.189,182.877z M76.406,182.877c0,5.022-4.086,9.108-9.108,9.108s-9.108-4.086-9.108-9.108 s4.086-9.108,9.108-9.108S76.406,177.854,76.406,182.877z"></path>
                <path
                    d="M127.892,189.636c2.742,0.348,5.243-1.588,5.593-4.327c0.102-0.801,0.154-1.619,0.154-2.432 c0-10.537-8.572-19.108-19.108-19.108s-19.108,8.572-19.108,19.108s8.572,19.108,19.108,19.108c1.495,0,2.987-0.174,4.434-0.519 c2.687-0.638,4.347-3.334,3.708-6.021c-0.638-2.687-3.335-4.351-6.021-3.708c-0.69,0.164-1.404,0.247-2.122,0.247 c-5.022,0-9.108-4.086-9.108-9.108s4.086-9.108,9.108-9.108s9.108,4.086,9.108,9.108c0,0.392-0.025,0.784-0.074,1.167 C123.216,186.782,125.153,189.286,127.892,189.636z"></path>
            </g>
        </g>
    </svg>

    <svg fill="#000000" viewBox="0 0 32 32" id="account" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path
                d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"></path>
        </g>
    </svg>

    <svg fill="#000000" id="productName" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path fill-rule="evenodd"
                  d="M22,17 L22,19 L2,19 L2,17 L22,17 Z M22,11 L22,13 L2,13 L2,11 L22,11 Z M22,5 L22,7 L2,7 L2,5 L22,5 Z"></path>
        </g>
    </svg>

    <svg fill="#000000" id="brandLabel" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <g>
                <path
                    d="M36.895,23.758L25.092,35.562c-0.488,0.487-1.128,0.731-1.77,0.731c-0.211,0-0.419-0.037-0.625-0.089 c0.418-0.107,0.815-0.315,1.145-0.644l11.803-11.804c0.979-0.977,0.979-2.56,0-3.534L17.488,2.067 c-0.333-0.333-0.752-0.546-1.199-0.651l0.243-0.043c0.807-0.142,1.629,0.116,2.206,0.694l18.156,18.156 C37.872,21.199,37.872,22.782,36.895,23.758z M34.228,23.758L22.425,35.562c-0.488,0.487-1.128,0.731-1.77,0.731 c-0.64,0-1.279-0.244-1.768-0.731L0.732,17.405c-0.578-0.578-0.837-1.401-0.694-2.206L1.822,5.181 c0.184-1.031,0.992-1.839,2.023-2.023l10.019-1.784c0.807-0.142,1.629,0.116,2.206,0.694l18.156,18.156 C35.206,21.199,35.206,22.782,34.228,23.758z M9.454,7.193c-0.985-1-2.595-1.012-3.595-0.027s-1.011,2.595-0.026,3.595 c0.985,0.999,2.594,1.012,3.594,0.026C10.426,9.802,10.438,8.192,9.454,7.193z"></path>
            </g>
        </g>
    </svg>

    <svg version="1.1" id="price" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 1800 1800" enable-background="new 0 0 1800 1800" xml:space="preserve" fill="#000000"><g
                                                                                                               id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <g id="Layer">
                <g>
                    <g>
                        <g>
                            <g>
                                <path fill="#333333"
                                      d="M980.141,1426.945H799.02v-118.506c-69.393-6.158-141.632-26.024-190.641-53.104l-20.991-11.607 l52.338-204.102l35.001,19.166c33.877,18.551,103.21,49.678,186.896,49.678c43.264,0,86.914-13.717,86.914-44.368 c0-20.55-13.207-44.022-108.99-76.386C727.884,950.146,599.67,887.562,599.67,735.901c0-118.03,78.008-208.647,205.43-241.258 V373.055h181.121v108.638c76.854,6.214,127.293,26.167,159.665,41.397l23.395,11.01l-52.706,198.537l-34.932-16.757 c-30.332-14.56-81.1-38.932-160.461-38.932c-27.462,0-73.538,4.973-73.538,38.288c0,25.207,67.061,52.896,125.491,74.206 c156.457,54.756,223.372,131.853,223.372,257.641c0,62.643-21.977,119.475-63.568,164.353 c-37.588,40.571-90.052,69.527-152.798,84.567V1426.945z M861.015,1364.95h57.132v-120.313l25.729-4.437 c117.589-20.272,190.636-94.271,190.636-193.118c0-81.316-30.988-146.326-182.237-199.261 c-91.338-33.311-166.625-66.172-166.625-132.585c0-48.481,35.607-100.283,135.533-100.283 c68.248,0,119.197,15.615,154.484,30.171l20.221-76.148c-31.758-12.463-77.164-25.047-141.589-26.967l-30.071-0.899v-106.06 h-57.132v110.22L841.792,550c-112.789,21.082-180.128,90.579-180.128,185.901c0,88.71,59.123,146.45,197.689,193.064 c78.537,26.534,151.178,61.268,151.178,135.137c0,64.615-58.448,106.362-148.908,106.362 c-73.782,0-137.615-20.566-181.23-39.836l-20.731,80.85c39.862,17.4,101.68,34.715,171.28,36.791l30.072,0.9V1364.95z"></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path fill="none"
                                      d="M1394.443,1646.797l13.552-28.16c-5.872,4.203-11.797,8.346-17.772,12.41L1394.443,1646.797z"></path>
                            </g>
                            <g>
                                <path fill="#333333"
                                      d="M894.438,1721.617c-453.04,0-821.616-368.576-821.616-821.614c0-453.044,368.576-821.62,821.616-821.62 c453.043,0,821.627,368.576,821.627,821.62c0,144.397-37.492,280.184-103.18,398.222l61.597,16.502 c66.06-123.746,103.577-264.929,103.577-414.724c0-487.224-396.391-883.615-883.621-883.615 c-487.224,0-883.61,396.391-883.61,883.615c0,487.227,396.386,883.608,883.61,883.608 c154.789,0,300.383-40.053,427.035-110.271l-16.563-61.813C1184.061,1681.513,1043.848,1721.617,894.438,1721.617z"></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path fill="#333333"
                                      d="M1661.595,1783.611c-7.931,0-15.862-3.027-21.916-9.072l-150.333-150.333l-48.355,100.489 c-5.621,11.686-17.973,18.647-30.824,17.428c-12.904-1.211-23.697-10.326-27.053-22.842l-111.181-414.95 c-2.862-10.698,0.199-22.114,8.026-29.942c7.836-7.836,19.243-10.889,29.941-8.025l414.943,111.188 c12.514,3.355,21.63,14.149,22.841,27.054c1.202,12.903-5.743,25.202-17.427,30.824l-100.49,48.363l150.332,150.324 c5.813,5.813,9.073,13.699,9.073,21.916c0,8.225-3.261,16.104-9.073,21.925l-96.58,96.581 C1677.465,1780.584,1669.525,1783.611,1661.595,1783.611z M1480.368,1540.391c8.147,0,16.052,3.217,21.916,9.081 l159.311,159.311l52.749-52.749l-159.311-159.302c-7.101-7.108-10.326-17.211-8.641-27.122 c1.688-9.903,8.061-18.37,17.116-22.729l64.563-31.076l-282.357-75.659l75.651,282.356l31.066-64.555 c4.358-9.055,12.835-15.43,22.737-17.115C1476.9,1540.537,1478.639,1540.391,1480.368,1540.391z"></path>
                            </g>
                        </g>
                    </g>
                    <path fill="#333333"
                          d="M1140.299,292.544c111.231,0,327.736,121.636,327.736,344.61c0,17.12,13.873,30.997,30.997,30.997 c17.116,0,30.997-13.877,30.997-30.997c0-116.063-51.296-223.666-144.435-302.993c-73.896-62.941-170.182-103.612-245.296-103.612 c-17.116,0-30.998,13.877-30.998,30.998S1123.183,292.544,1140.299,292.544z"></path>
                </g>
            </g>
        </g></svg>
    
    <svg viewBox="0 0 192 192" id="stockIcon" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="none"> <path d="M22 142.576h10.702M22 114.712h10.702M22 22v148h148M21.995 32.934h10.702m-10.702 27.32h10.702M21.995 87.356h10.702" style="fill:#000000;fill-opacity:0;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:6;stroke-dasharray:none;paint-order:stroke fill markers" fill="none"></path> <path d="M68.842 128.695a10.782 10.782 0 0 1-10.781 10.781 10.782 10.782 0 0 1-10.782-10.781 10.782 10.782 0 0 1 10.782-10.782 10.782 10.782 0 0 1 10.781 10.782zM95.06 76.358A10.782 10.782 0 0 1 84.277 87.14a10.782 10.782 0 0 1-10.782-10.782 10.782 10.782 0 0 1 10.782-10.782 10.782 10.782 0 0 1 10.781 10.782Zm43.576 36.396a10.782 10.782 0 0 1-10.782 10.781 10.782 10.782 0 0 1-10.781-10.781 10.782 10.782 0 0 1 10.781-10.782 10.782 10.782 0 0 1 10.782 10.782zm21.604-73.396a10.782 10.782 0 0 1-10.782 10.782 10.782 10.782 0 0 1-10.782-10.782 10.782 10.782 0 0 1 10.782-10.781 10.782 10.782 0 0 1 10.781 10.781z" style="fill-opacity:0;stroke:#000000;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:6;paint-order:stroke fill markers"></path> <path d="m64.38 118.198 14.117-31.362m15.08-2.424 24.333 21.124m13.668-4.067 15.53-52.393" style="fill:#000000;fill-opacity:0;stroke:#000000;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:6;stroke-dasharray:none;paint-order:stroke fill markers" fill="none"></path> </g> </g></svg>
    <svg fill="#000000" id="descriptionIcon" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1801.441 0v1920H219.03v-439.216h-56.514c-31.196 0-56.515-25.299-56.515-56.47 0-31.172 25.319-56.47 56.515-56.47h56.514V1029.02h-56.514c-31.196 0-56.515-25.3-56.515-56.471 0-31.172 25.319-56.47 56.515-56.47h56.514V577.254h-56.514c-31.196 0-56.515-25.299-56.515-56.47 0-31.172 25.319-56.471 56.515-56.471h56.514V0h1582.412Zm-113.03 112.941H332.06v351.373h56.515c31.196 0 56.514 25.299 56.514 56.47 0 31.172-25.318 56.47-56.514 56.47H332.06v338.824h56.515c31.196 0 56.514 25.3 56.514 56.471 0 31.172-25.318 56.47-56.514 56.47H332.06v338.824h56.515c31.196 0 56.514 25.299 56.514 56.47 0 31.172-25.318 56.471-56.514 56.471H332.06v326.275h1356.353V112.94ZM640.289 425.201H1388.9v112.94H640.288v-112.94Zm0 214.83h639.439v112.94h-639.44v-112.94Zm0 534.845H1388.9v112.94H640.288v-112.94Zm0 214.83h639.439v112.94h-639.44v-112.94Z" fill-rule="evenodd"></path> </g></svg>
    <svg fill="#000000" id="expiryDateIcon" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>calendar-exclamation</title> <path d="M28 5.25h-1.25v-3.25c0-0.414-0.336-0.75-0.75-0.75s-0.75 0.336-0.75 0.75v0 3.25h-18.5v-3.25c0-0.414-0.336-0.75-0.75-0.75s-0.75 0.336-0.75 0.75v0 3.25h-1.25c-1.518 0.002-2.748 1.232-2.75 2.75v19.998c0.002 1.518 1.232 2.748 2.75 2.75h24c1.518-0.002 2.748-1.232 2.75-2.75v-19.998c-0.002-1.518-1.232-2.748-2.75-2.75h-0zM4 6.75h24c0.69 0.001 1.249 0.56 1.25 1.25v3.25h-26.5v-3.25c0.001-0.69 0.56-1.249 1.25-1.25h0zM28 29.248h-24c-0.69-0.001-1.249-0.56-1.25-1.25v-15.248h26.5v15.248c-0.001 0.69-0.56 1.249-1.25 1.25h-0zM15.965 22.748c0.414-0 0.75-0.336 0.75-0.75v0-5.998c0-0.414-0.336-0.75-0.75-0.75s-0.75 0.336-0.75 0.75v0 5.998c0 0.414 0.336 0.75 0.75 0.75v0zM15.46 25.459c-0.123 0.145-0.198 0.334-0.2 0.541v0c-0.001 0.016-0.002 0.034-0.002 0.052 0 0.082 0.015 0.16 0.044 0.231l-0.002-0.004c0.039 0.094 0.093 0.173 0.16 0.24l0 0c0.071 0.076 0.158 0.137 0.255 0.178l0.005 0.002c0.084 0.026 0.18 0.041 0.28 0.041s0.196-0.015 0.287-0.043l-0.007 0.002c0.102-0.043 0.189-0.104 0.26-0.179l0-0c0.067-0.067 0.12-0.147 0.157-0.235l0.002-0.005c0.038-0.079 0.061-0.173 0.061-0.271 0-0.003-0-0.006-0-0.009v0c-0.010-0.209-0.092-0.397-0.221-0.542l0.001 0.001c-0.145-0.121-0.334-0.195-0.54-0.195s-0.395 0.074-0.541 0.196l0.001-0.001z"></path> </g></svg>
    <svg viewBox="0 0 32 32" id="barcodeIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs id="defs2"></defs> <g id="layer1" transform="translate(-108,-100)"> <path d="m 111,106 a 1.0001,1.0001 0 0 0 -1,1 v 3 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -2 h 2 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 z" id="path11698" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 134,106 a 1,1 0 0 0 -1,1 1,1 0 0 0 1,1 h 2 v 2 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -3 a 1.0001,1.0001 0 0 0 -1,-1 z" id="path11700" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 137,121 a 1,1 0 0 0 -1,1 v 2 h -2 a 1,1 0 0 0 -1,1 1,1 0 0 0 1,1 h 3 a 1.0001,1.0001 0 0 0 1,-1 v -3 a 1,1 0 0 0 -1,-1 z" id="path11702" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 111,121 a 1,1 0 0 0 -1,1 v 3 a 1.0001,1.0001 0 0 0 1,1 h 3 a 1,1 0 0 0 1,-1 1,1 0 0 0 -1,-1 h -2 v -2 a 1,1 0 0 0 -1,-1 z" id="path11704" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 115,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11706" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 118,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11708" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 121,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11710" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 124,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11712" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 127,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11714" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 130,110 a 1,1 0 0 0 -1,1 v 10 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 v -10 a 1,1 0 0 0 -1,-1 z" id="path11716" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> <path d="m 133,110 a 1,1 0 0 0 -1,1 v 5.20703 1.31445 V 121 a 1,1 0 0 0 1,1 1,1 0 0 0 1,-1 V 117.52148 116.20703 111 a 1,1 0 0 0 -1,-1 z" id="path11720" style="color:#000000;fill:#000000;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4.1;-inkscape-stroke:none"></path> </g> </g></svg>
    
</svg>