SUPABASE_URL=https://epekndegaevsfrebyrbn.supabase.co
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwZWtuZGVnYWV2c2ZyZWJ5cmJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg4MTc2NDcsImV4cCI6MjA2NDM5MzY0N30.IaAisYbQd8WZVXgxDlXs8PKvJ7_5c-FFojpbaE08wY8"