<!-- Notification Message -->
@if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null)
{
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999;">
        <div
            class="toast align-items-center text-white @((TempData["SuccessMessage"] != null ? "bg-success" : "bg-danger")) show"
            role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @(TempData["SuccessMessage"] ?? TempData["ErrorMessage"])
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
    </div>
}